<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjl2HZo4Xk0hOT1QubuqdzENLkOv86JvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>641975841374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asuracoder.firetest</string>
	<key>PROJECT_ID</key>
	<string>asuracoder-firebase-test</string>
	<key>STORAGE_BUCKET</key>
	<string>asuracoder-firebase-test.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641975841374:ios:585e0cde993148650f3acf</string>
</dict>
</plist>